@font-face {
    font-family: "HankenGrotesk";
    src: url(assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}

@media (min-width: 768px){
    .container {
        max-width: 60% !important;
    }
    .score {
        height: 13vw;
        width: 13vw;
        margin-left: 5vw;
        padding-top: 2vw;
    }
    .score > h1 {
        font-size: 5vw;
        margin-bottom: 0rem;
    }
}

@media (min-width: 576px){
    .container{
        margin: 12% auto 0 auto;
    }
}

@media (max-width: 767.98px) {
    .score {
        height: 30vw;
        width: 30vw;
        margin-left: 30%;
        padding-top: 7vw;
        line-height: 0;
    }
    .score > h1 {
        font-size: 10vw;
        margin-bottom: 0rem;
    }.summary > div {
        height: 48px !important;
    }
}

* {
    font-family: "HankenGrotesk";
}

.row {
    border-radius: 25px;
    box-shadow: 8px 14px 20px 0px hsl(241deg 100% 89% / 14%);
}

.score {
    border-radius: 50%;
    background-image: linear-gradient(180deg, hsl(252deg 86% 41%), hsla(241, 72%, 46%, 0));
}

.score > small {
    margin: 0rem;
    font-size: .9rem;
    color: rgba(255,255,255,0.7);
}

span > span {
    font-size: inherit;
    font-weight: 500;
    color: rgb(0,0,0,0.43);
}

.cover {
    border-radius: 25px;
    padding: 25px 35px 25px 35px !important;
    background-image: linear-gradient(180deg, hsl(271deg 100% 56%), hsl(241deg 100% 50%));
}

img {
    padding-right: 10px;
}

.summary {
    padding: 25px 25px 25px 25px !important;
}

.summary p {
    display: inline;
}

.summary > div {
    font-size: 14px;
    border-radius: 5px;
    margin: 15px 0 0 0;
    height: 13.6%;
    line-height: 40px;
    font-weight: 500;
    padding: 3px 6px;
}

div.reaction {
    background-color: rgba(255, 87, 87, 0.09);
}

div.memory {
    background-color: rgba(255, 177, 31, 0.09);
}

div.verbal {
    background-color: rgba(0, 189, 145, 0.09);
}

div.visual {
    background-color: rgba(17, 36, 212, 0.062);
}

div.reaction > p {
    color: rgb(255, 87, 87);
}

div.memory > p {
    color: rgb(255, 177, 31);
}

div.verbal > p {
    color: rgb(0, 189, 145);
}

div.visual > p {
    color: rgb(17, 36, 212);
}

div > span {
    font-weight: 700;
}

.attribution { 
    font-size: 11px; text-align: center; 

}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}